body {
    background-color: antiquewhite;
    font-family: 'Comic Sans MS';
}

.page-header {
    font-size: 3em;
    color: black;
    background-color: aliceblue;
}

.page-header-row {
    padding: 0.1em;
    background-color: aliceblue;
}

.header-scroll {
    font-size: 1em;
    line-height: 1em;
    color: #996600;
    padding: 1.5em;
    background-color: lavender;
}

.generators {
    background-color: #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
    font-size: 1.5em;
}

.generators:hover{
    background-color: #58ccef;
    border-color: #58ccef;
}

.feedback-btn {
    background-color: #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
}

.feedback {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 1em;
}

.feedback-btn:hover{
    background-color: #58ccef;
    border-color: #58ccef;
}

.contact-btn {
    background-color: #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
}

.contact {
    position: fixed;
    bottom: 10px;
    left: 20px;
    font-size: 1em;
}

.contact-btn:hover{
    background-color: #58ccef;
    border-color: #58ccef;
}

.pg {
    color: white;
}

.pg:hover{
    text-decoration: none;
    color: whitesmoke;
}

.info {
    font-size: 1em;
    text-align: center;
}

.welcome-image {
    height: 250px;
    width: 250px;
}

.welcome-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    padding: 2px;
}

.hd {
    color: black;
}

.hd:hover{
    color: lightslategray;
    text-decoration: none;
}

.feedback-submit-btn {
    background-color:green;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: green;
}

.btnLink{
    color: red;
}

.btnLink:hover{
    color: red;
}

